/* -- INTRO -- */
@media only screen and (min-width: 0px) {
    #intro p {
        font-size: large;
    }
}

/* -- ARTICLE GRID -- */
@media only screen and (min-width: 0px) {
    #articleGrid {
        display: grid;
        grid-row-gap: 3rem;
        justify-items: center;
    }
    .article-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
        background: linear-gradient(var(--blue), var(--darkblue));
        border: 1px solid var(--lightblue);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px var(--lightblue);
    }
    .article-card img {
        width: 100%;
        max-width: 400px;
    }
    .article-card h3 {
        text-align: center;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 992px) {
    .article-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 5%;
    }
    .article-card img {
        grid-row-start: 1;
        grid-row-end: 4;
        width: 100%;
    }
    .article-card a {
        justify-self: last baseline;
    }
}